language: python
python:
  - '3.9'
  - '3.8'
  - '3.7'
  - '3.6'
#Install dependencies
install:
  - pip install -r requirements.txt
  - pip install pytest-cov
  - pip install coveralls
  - python setup.py install
#Run the tests
script:
  - coverage run -m pytest
  - coverage report -m
after_success:
  - coveralls